<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jornal IF - Categorias</title>
    <title>Jornal IF - Início</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<!-- advertisement and navbar -->
<div class="fixed-top" id="header">

    <div class="container-fluid bg-white p-0">
        <p class="text-uppercase text-center text-muted fw-bold mb-0">
            grêmio de representação estudantil rupestre - 2024
        </p>
    </div>

    <!-- Admin -->
    <div class="container-fluid bg-light p-0">
        <p sec:authorize="hasRole('ROLE_ADMIN')" class="text-uppercase text-center text-muted fw-bold mb-0">
            Você está logado como administrador
        </p>
    </div>

    <!-- News Editor -->
    <div sec:authorize="hasRole('ROLE_NEWS')">
        <div class="container-fluid bg-light p-0">
            <p class="text-uppercase text-center text-muted fw-bold mb-0">
                Você está logado como editor de notícias.
            </p>
        </div>
    </div>

    <!-- Not logged -->
    <div sec:authorize="!isAuthenticated()" class="d-none d-md-block">
        <div class="container-fluid bg-light p-0">
            <p class="text-uppercase text-center text-muted fw-bold mb-0">
                <strong>Você não possui uma conta.</strong>
                Faça <a href="/login" class="text-decoration-none">login</a> ou <a href="/register" class="text-decoration-none">cadastre-se</a>
            </p>
        </div>
    </div>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

</div>

<!-- Main Content -->
<div class="container-fluid py-5" id="MainContent">

    <!-- Title -->
    <div class="container bg-light p-2">
        <h1 class="text-center text-uppercase fw-bold" th:text="${category.name}"></h1>
        <h3 class="text-center text-muted" th:text="${category.description}"></h3>
        <p class="text-center text-muted">Clique em uma notícia para ver mais detalhes</p>
    </div>

    <hr>

    <!-- News -->
    <div class="container" th:if="${category.articles.size() == 0}">
        <div class="alert alert-warning text-center" role="alert">
            Não há notícias cadastradas para esta categoria.
        </div>
    </div>
    <div class="container" th:if="${category.articles.size() != 0}">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-3">
            <div class="card mb-3" th:each="article : ${category.articles}">
                <img th:src="@{${article.getImageUrl()}}" class="card-img img-fluid mt-3" alt="imagem da notícia" style="aspect-ratio: 1/1; object-fit: cover">
                <div class="card-body position-relative">
                    <h5 class="card-title text-uppercase fw-bold" th:text="${article.title}">Título</h5>
                    <p class="card-text text-muted" th:text="${article.subtitle}">Resumo</p>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-muted" th:text="${#temporals.format(article.dateCreated, 'dd/MM/yyyy')}">Data</p>
                        <p class="card-text text-muted fw-bold" th:text="${article.author}">Autor</p>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <a th:href="@{'/articles/' + ${article.id}}" class="btn btn-primary w-100">Ver notícia</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Bootstrap JS -->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>