<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<!-- Footer -->
<footer th:fragment="footer">
    <div class="container">
        <div class="row">

            <!-- About -->
            <div class="col-lg-4 col-md-6 col-12">
                <h5>Sobre</h5>
                <p class="lead">O Jornal IF é um projeto do GRER do Instituto Federal de Educação, Ciência e Tecnologia de São Raimundo Nonato.</p>
                <p class="lead fw-bold">Desenvolvido pelo aluno Carlos Alberto Martins Antunes - 2024 &copy;</p>
            </div>

            <!-- Links -->
            <div class="col-lg-4 col-md-6 col-12">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="link-light link-underline-opacity-100-hover">Home</a></li>
                    <li><a href="/articles" class="link-light">Notícias</a></li>
                    <li><a href="https://wa.me/5589981306131" class="link-light" target="_blank">Contato</a></li>
                    <li><a href="/about" class="link-light">Sobre</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-lg-4 col-md-6 col-12">
                <h5>Contato</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i>BR-020, Bairro Primavera, São Raimundo Nonato - PI</li>
                    <li><i class="bi bi-telephone-fill"></i> (89) 98140-8061</li>
                    <li><i class="bi bi-envelope-fill"></i>
                        <a href="mailto:carlosantunes.dev@gmail.com" class="link-light link-underline-light">
                            carlosantunes.dev@gmail.com
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

</body>
</html>