<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<!-- resources/templates/fragments/nav.html -->
<div th:fragment="navbar">
    <nav class="navbar navbar-dark shadow" id="#navbar">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- page home -->
            <a class="navbar-brand text-center mx-auto" href="/">
                <span class="fw-bold text-uppercase">Jornal IF</span>
            </a>

            <!-- Search form for desktop -->
            <form class="d-sm-flex d-none form-search" th:action="@{/articles/search}" method="get" th:if="${currentUrl != '/articles/search'}">
                <div class="input-group d-none d-sm-flex position-relative">
                    <input type="search" class="form-control" placeholder="Pesquisar" name="q" id="searchInputDesktop"
                           aria-label="Pesquisar" aria-describedby="searchSuggestionsDesktop">
                    <button class="btn btn-search" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            <!-- Search form for mobile -->
            <div class="d-block d-sm-none">
                <!-- Button offcanvas -->
                <button class="btn btn-light rounded-pill" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchOffcanvas"
                        aria-controls="searchOffcanvas">
                    <i class="bi bi-search"></i>
                </button>
                <!-- Offcanvas search -->
                <div class="offcanvas offcanvas-end" id="searchOffcanvas">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">Pesquisar</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form th:action="@{/articles/search}" method="get">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Pesquisar" name="q" id="searchInputMobile"
                                       aria-label="Pesquisar" aria-describedby="searchSuggestionsMobile">
                                <button class="btn btn-search" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Navbar links -->
            <div class="offcanvas offcanvas-start" id="navbarNav">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Início</a>
                        </li>
                        <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN') and !hasRole('ROLE_NEWS')">
                            <a class="nav-link" href="/articles">Artigos</a>
                        </li>

                        <!-- Articles for ROLE_NEWS -->
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') and isAuthenticated()">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Artigos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/articles/new">Novo Artigo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/articles">Listar Artigos</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li th:each="category : ${categories}">
                                        <a class="dropdown-item" th:href="@{'/categories/' + ${category.id}}"
                                           th:text="${category.name}"></a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <!-- Editions for ROLE_NEWS -->
                        <li class="nav-item"
                            sec:authorize="hasRole('ROLE_ADMIN') and isAuthenticated()">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Edições
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/editions/new">Nova Edição</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/editions">Listar Edições</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- List editions -->
                        <li class="nav-item" sec:authorize="!hasRole('ROLE_ADMIN') and !hasRole('ROLE_NEWS')">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Edições
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li th:each="edition : ${editions}">
                                        <a class="dropdown-item" th:href="@{'/editions/' + ${edition.id}}"
                                           th:text="${edition.name}"></a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</div>

<!-- Bootstrap JS -->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>