<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<!-- resources/templates/fragments/nav.html -->
<div th:fragment="navbar">
    <nav class="navbar navbar-dark shadow" id="#navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand fw-bold text-center" href="/">
                Jornal IF
            </a>
            <form class="d-flex form-search">

                <!-- Search input for md screens-->
                <div class="input-group d-none d-sm-flex">
                    <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn btn-search" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>

                <!-- Search input for sm screens-->
                <div class="input-group d-block d-sm-none">
                    <!-- offcanvas search -->
                    <button class="btn btn-search rounded-pill" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchNav"
                            aria-controls="searchNav">
                        <a href="/articles/search" class="text-decoration-none text-white">
                            <i class="bi bi-search"></i>
                        </a>
                    </button>
                    <div class="offcanvas offcanvas-end" id="searchNav">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title">Pesquisar</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <input type="search" class="form-control" placeholder="O que você procura?" aria-label="Pesquisar">
                        </div>
                    </div>
                </div>

            </form>
            <div class="offcanvas offcanvas-start" id="navbarNav">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles">Artigos</a>
                        </li>

                        <!-- Articles for ROLE_NEWS -->
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') and isAuthenticated()">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Artigos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/articles/new">Novo Artigo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/articles">Listar Artigos</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Categorias
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" th:each="category : ${categories}">
                                    <li>
                                        <a class="dropdown-item" th:href="@{'/categories/' + ${category.id}}" th:text="${category.name}"></a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <!-- Editions for ROLE_NEWS -->
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') and isAuthenticated()">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Edições
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/editions/new">Nova Edição</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/editions">Listar Edições</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- List editions -->
                        <li class="nav-item">

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Edições
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" th:each="edition : ${editions}">
                                    <li>
                                        <a class="dropdown-item" th:href="@{'/editions/' + ${edition.id}}" th:text="${edition.name}"></a>
                                    </li>
                                </ul>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Bootstrap JS -->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>