@font-face {
  font-face-name: "Ink Free";
  font-family: "Ink Free";
  definition-src: url("static/fonts/Inkfree.ttf");
  font-weight: normal;
}
@font-face {
  font-face-name: "StretchPro";
  font-family: "StretchPro";
  definition-src: url("static/fonts/StretchPro.otf");
  font-weight: auto;
}
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f7f7f7;
}

*::-webkit-scrollbar-thumb:hover {
  background: #bf5323;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e77c10;
}

*::-webkit-scrollbar-thumb:hover {
  background: #bf5323;
}

.bg-login, .bg-register {
  background: linear-gradient(270deg, #e13230, #ee7c20, #e4c04f);
  background-size: 600% 600%;
  -webkit-animation: BG-LOGIN 10s infinite ease;
  -moz-animation: BG-LOGIN 10s infinite ease;
  -o-animation: BG-LOGIN 10s infinite ease;
  animation: BG-LOGIN 10s infinite ease;
}

@-webkit-keyframes BG-LOGIN {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes BG-LOGIN {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-o-keyframes BG-LOGIN {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes BG-LOGIN {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.logo-title {
  width: 300px;
  height: 300px;
}

.article {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.article .card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  border: none;
  border-radius: 10px;
}
.article .card .card-body {
  padding: 20px;
}
.article .card .card-body .card-title {
  font-size: 26px;
  font-weight: bold;
}
.article .card .card-body .card-subtile {
  font-size: 22px;
}
.article .card .card-body .card-text {
  font-size: 16px;
}
.article .card .card-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.article .card .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.article-first-page {
  height: 50%;
}

.article-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("https://placehold.co/200x500?text=null") center;
  background-size: cover;
}
.article-link .card-title {
  color: #f26a2e;
  font-weight: bold;
  font-size: 32px;
}

#CardFirstPage {
  height: 420px;
  width: 100%;
}

.btn-about {
  margin-top: 10px;
  background-color: #f26a2e;
  color: white;
  transition: all 0.3s ease;
}
.btn-about:hover {
  color: #c4c4c4;
  background-color: #bf5323;
  filter: drop-shadow(0 0 0.75rem #bf5323);
  -webkit-filter: drop-shadow(0 0 0.75rem #bf5323);
  -moz-filter: drop-shadow(0 0 0.75rem #bf5323);
}

@media (max-width: 768px) {
  .logo-title {
    width: 200px;
    height: 200px;
  }
  .article {
    width: 100%;
  }
  .article .card {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .article .card .card-body {
    padding: 10px;
  }
  .article .card .card-body .card-title {
    font-size: 20px;
  }
  .article .card .card-body .card-subtile {
    font-size: 18px;
  }
  .article .card .card-body .card-text {
    font-size: 14px;
  }
  .article .card .card-img img {
    border-radius: 0;
    aspect-ratio: 16/9;
  }
  #CardFirstPage {
    height: 300px;
  }
}

/*# sourceMappingURL=home.css.map */
