<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="bg-login">

<!-- main content -->
<div class="container bg-light p-3" id="MainContent">
    <div class="row justify-content-center mt-5">

        <!-- mensagem de erro -->
        <div th:if="${param.error}" class="alert alert-danger col-md-6 text-center">
            <p th:text="${param.error}"></p>
        </div>

        <!-- formulário de login -->
        <div class="col-md-6 align-self-center">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="fw-bold">Redefinir Senha</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/forgot-password}" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>