<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jornal IF - Início</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<!-- advertisement and navbar -->
<div class="fixed-top" id="header">

    <div class="container-fluid bg-white p-0">
        <p class="text-uppercase text-center text-muted fw-bold mb-0">
            grêmio de representação estudantil rupestre - 2024
        </p>
    </div>

    <!-- Admin -->
    <div class="container-fluid bg-light p-0">
        <p sec:authorize="hasRole('ROLE_ADMIN')" class="text-uppercase text-center text-muted fw-bold mb-0">
            Você está logado como administrador
        </p>
    </div>

    <!-- News Editor -->
    <div sec:authorize="hasRole('ROLE_NEWS')">
        <div class="container-fluid bg-light p-0">
            <p class="text-uppercase text-center text-muted fw-bold mb-0">
                Você está logado como editor de notícias.
            </p>
        </div>
    </div>

    <!-- Not logged -->
    <div sec:authorize="!isAuthenticated()" class="d-none d-md-block">
        <div class="container-fluid bg-light p-0">
            <p class="text-uppercase text-center text-muted fw-bold mb-0">
                <strong>Você não possui uma conta.</strong>
                Faça <a href="/login" class="text-decoration-none">login</a> ou <a href="/register" class="text-decoration-none">cadastre-se</a>
            </p>
        </div>
    </div>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

</div>

<!-- Title -->
<header style="margin-top: 7em">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="/img/logo.svg" class="logo-title img-fluid d-block w-100" alt="Jornal IF">
            </div>
        </div>
    </div>
</header>

<!-- Articles -->
<section>
    <div class="container">

        <!-- First Page -->
        <div class="row row-cols-2 row-gap-1 first-page">

            <!-- Article Card -->
            <div class="col-12 col-lg-6">
                <h3 class="fw-bold text-center">Primeira Página</h3>
                <div class="card rounded-3 mb-3" id="CardFirstPage">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center" id="articleContent" th:if="${not #lists.isEmpty(articles)}">
                        <p class="text-muted fw-medium text-start" th:text="${articles[0].category.getName()}"></p>
                        <h1 class="card-title text-start" th:text="${articles[0].title}"></h1>
                        <div class="d-md-block d-none text-center">
                            <p class="card-subtile text-start" th:text="${articles[0].subtitle}"></p>
                            <p class="text-muted text-start" th:text="${#temporals.format(articles[0].dateCreated, 'dd/MM/yyyy')}"></p>
                        </div>
                        <a th:href="@{/articles/{id}(id=${articles[0].id})}" class="btn btn-primary">Ler Mais</a>
                    </div>
                </div>
            </div>

            <!-- Article Card -->
            <div class="col-lg-6 d-none d-lg-block">

                <div class="article-first-page row mb-1" th:if="${not #lists.isEmpty(articles)}">

                    <a class="article-link text-decoration-none rounded-3" th:href="@{/articles/{id}(id=${articles[1].id})}">
                        <div class="card-img"
                             th:style="'background-image: url(' + ${articles[1].imageUrl} + ') cover center;'">
                            <div class="card-body">
                                <p class="text-muted fw-bold" th:text="${articles[1].category.getName()}"></p>
                                <h3 class="card-title text-start" th:text="${articles[1].title}"></h3>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="article-first-page row" th:if="${not #lists.isEmpty(articles)}">

                    <a class="article-link text-decoration-none rounded-3" th:href="@{/articles/{id}(id=${articles[2].id})}">
                        <div class="card-img"
                             th:style="'background-image: url(' + ${articles[2].imageUrl} + ');'">
                            <div class="card-body">
                                <p class="text-muted fw-bold" th:text="${articles[2].category.getName()}"></p>
                                <h3 class="card-title text-start" th:text="${articles[2].title}"></h3>
                            </div>
                        </div>
                    </a>

                </div>

            </div>

        </div>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Artigos</h2>
                <p class="text-center">Confira as notícias mais recentes sobre nosso campus.</p>
            </div>
        </div>

        <!-- Articles -->
        <div class="row row-gap-0">
            <!-- Articles -->
            <div class="col-xl-8 col-lg-12">

                <!-- Article Card -->
                <div class="row">
                    <div class="col-lg-8 article" id="articleContainer">
                        <div class="card mb-3" th:each="article, iterStart : ${articles}" th:if="${iterStart.index} > 2">
                            <div class="card-img" id="articleImage">
                                <img th:src="@{${article.imageUrl}}" class="img-fluid rounded-3" alt="Imagem do artigo">
                            </div>
                            <div class="card-body" id="articleContent">
                                <p class="text-muted fw-medium text-start" th:text="${article.category.getName()}"></p>
                                <h5 class="card-title text-start" th:text="${article.title}"></h5>
                                <div class="d-md-block d-none">
                                    <p class="card-subtile text-start" th:text="${article.subtitle}"></p>
                                    <p class="text-muted text-start" th:text="${#temporals.format(article.dateCreated, 'dd/MM/yyyy')}"></p>
                                </div>
                                <a th:href="@{/articles/{id}(id=${article.id})}" class="btn btn-primary">Ler Mais</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- If there are no articles -->
                <div th:if="${#lists.isEmpty(articles)}">
                    <div class="alert alert-warning" role="alert">
                        Não há artigos disponíveis no momento.
                    </div>
                </div>

            </div>

            <!-- Sidebar -->
            <div class="col-xl-4 d-none d-xl-block">
                <aside class="sticky-top">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-lg-4 w-100">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Sobre</h5>
                                        <p class="card-text">O Jornal IF é um projeto de extensão do Instituto Federal de Educação, Ciência e Tecnologia de São Raimundo Nonato.</p>
                                        <a href="#" class="btn btn-about">Ler mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-4 w-100 adv">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Publicidade</h5>
                                        <img src="https://placehold.co/330x600" alt="Publicidade" class="img-fluid w-100 mx-auto rounded-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>
</section>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Bootstrap JS -->
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>