<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="bg-login">
<div class="container">
    <!-- Mensagem de erro -->
    <div th:if="${param.error}" class="alert alert-danger mt-3" role="alert">
        Usuário ou senha inválidos!
    </div>

    <div class="bg-white px-3 py-1 rounded-3 shadow-lg">
        <!-- logo -->
        <div class="logo">
            <img src="/img/logo.svg" alt="logo">
        </div>
        <!-- Formulário de login -->
        <h1 class="text-center fw-bold mb-3">Entre</h1>
        <form th:action="@{/login}" method="post" class="form mx-auto">
            <div class="mb-3">
                <label for="username" class="form-label">Nome de usuário</label>
                <input type="text" class="form-control" id="username" name="username" autofocus required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                <label class="form-check-label" for="rememberMe">Lembrar de mim</label>
            </div>
            <button type="submit" class="btn">Entre</button>
        </form>
        <p class="mt-3 text-center">Não possui uma conta ainda? <a href="/register" class="link">Crie agora</a></p>
        <p class="mt-3 text-center">Esqueceu sua senha? <a href="/forgot-password" class="link">Redefina agora</a></p>
        <!-- Guest login -->
        <div class="d-flex justify-content-center mt-3">
            <a href="/" class="btn btn-light rounded-pill shadow-sm">Entrar como convidado</a>
        </div>
    </div>

</div>

<!-- Bootstrap JS -->
<script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>